<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        
         <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
         
          <div class="row"  class="text-center" >
          <h1>Pay Amount</h1>
          <br><br>
          	<label>Card name : {{accountName}}</label>
          	<br><br>
          	<label>Available Balance : {{balance}}</label>
          	<br><br>
          	
            <label>Enter amount: </label>
            <input class="center" type="text" name="amount" id="amount" placeholder="Amount" [(ngModel)]='amount'/>
             <INPUT TYPE="hidden" id="accountName" value={{accountName}}/>
              <INPUT TYPE="hidden" id="userName" value={{userName}}/>
               <INPUT TYPE="hidden" id="cardNumber" value={{cardNumber}}/>
              
            <br><br>
            
            <a class='btn btn-default' onclick="sendOTP()" style='width:150px'>
	            	<i class='glyphicon'></i> Send OTP
	       </a>
            
            <br><br>
            <div id='recievedOTP' class="hide">
	            <label>Enter OTP: </label>
	           	 <input class="center" type="text" name="otp" placeholder="Enter OTP" [(ngModel)]='otp'/>
	           	 <br><br>
	           	 
	         	  <a class='btn btn-default' onclick="verify()" style='width:150px'>
		            	<i class='glyphicon'></i> Verify
		       		</a>
	            
	        </div>
            
              <div *ngIf="_id">
	        	<br>
	        		Amount has been successfully deducted!!!
	        	<br>
	        </div>
	        	 <br><br>
            
           <div id='verifiedOTP' class="show"> 
           
           		
	        	<br><br>
            <INPUT class='btn btn-default' TYPE="button" value="Tap and Pay" onclick="nfcPay()"> 
		        
                    <br><br>
		           <INPUT TYPE="hidden" id="qrcode">
		           
		            <INPUT class='btn btn-default' TYPE="button" value="Scan Qr Code" onClick="window.location='Navigation://PayQRScreen'">
		           <!-- <a class='btn btn-default' (click)='scanQRCodeorPay(123, 10281561)' style='width:150px'>
			            	<i class='glyphicon'></i> Scan QR Code/Pay
			        	</a>-->
			        	
					<br>
					<br>       
			</div>     
         </div>
        
            <div class='panel-footer'>
	        	
	        	<a class='btn btn-default' (click)='onBack()' style='width:150px'>
	            	<i class='glyphicon glyphicon-chevron-left'></i> Back
	        	</a>
    		</div>
    </div>
</div>